<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
<!--    <link rel="stylesheet" href="top50books.css" />-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/top50books.css') }}">
    <title>Top 50 Books</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav__logo"><a href="/">Book.Finder</a></div>
        <ul class="nav__links">
          <li><a href="/" class="link">Home</a></li>
          <li><a href="/recommend" class="link">Recommend</a></li>
          <li><a href="/top50books" class="link">Top 50 Books</a></li>
          <li><a href="#about-me" class="link">About</a></li>
        </ul>
      </nav>
    </header>

<div class="main-container">


      <!-- cards starts -->
      <div class="wrapper">

          <h2><strong>Top 50 Books<span>( by user ratings )</span></strong></h2>

          <div class="cards">



          {% for i in range(book_name|length)%}
            <div class="book-cover">
                <figure class="card">
                  <img src="{{ image[i] }}" />
                </figure>
                <h3>{{ book_name[i] }} </h3>
                <h3>Author - {{ author[i] }}</h3>
                <h3>Votes - {{ votes[i] }}</h3>
                <h3>Avg Ratings - {{ ratings[i] }}</h3>
            </div>
          {% endfor %}



	        </div>
      </div>
      <!-- cards ends -->
   
</div>

    

    <footer class="footer" id="about-me">
      <div class="container">
       <div class="row">
         <img src="assets/bg-1.jpg" alt="" style="height: 200px; width: 200px;">
         <div class="footer-col">
           <h4>Developed by:</h4>
           <h2>Himanshu Banodha</h2>
           <p>Data Science Intern at iNeuron.ai </p>
           <ul>
           </ul>
         </div>
         <div class="footer-col footer-col-2">
           <h4>Connect with me:</h4>
           <ul>
             <li><a href="https://www.linkedin.com/in/himanshu-banodha/" target="_blank">linkedin</a></li>
             <li><a href="https://github.com/himanshu-banodha" target="_blank">GitHub</a></li>
             <li><a href="https://www.kaggle.com/himanshubanodha" target="_blank">Kaggle</a></li>
           </ul>
         </div>
       </div>
      </div>
   </footer>
  </body>
</html>
